.MMM-NagiosNotify .fa-ul {
    margin-left: 0;
}

.MMM-NagiosNotify .fa-li {
    font-size: 16px;
    left: -1em;
    width: 1em;
}

.MMM-NagiosNotify .warning .fa-li {
    color: #f6bf26;
}

.MMM-NagiosNotify .critical .fa-li {
    color: #c00;
}

.MMM-NagiosNotify .row {
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    line-height: 24px;
}

.MMM-NagiosNotify .title {
    border-radius: 0.5em;
    font-size: 17px;
    margin-left: 0.8em;
    margin-right: 0.8em;
    padding: 0 0.6em;
}

.MMM-NagiosNotify .info {
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
}

.MMM-NagiosNotify .warning .title {
    background: rgba(221, 183, 39, 0.3);
}

.MMM-NagiosNotify .critical .title {
    background: rgba(204, 0, 0, 0.3);
}
